body {
    background-color: rgb(196, 180, 211);
}

h1{
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-size: 200%;
    margin: 30px;
}

p{
    color: darkolivegreen;
    border: 2px solid black;
    font-size: 150%;
    padding: 20px;
    text-align: center;
}
#p01{
    color: darkred;
}
p.true{
    color: darkseagreen;
}
